<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a user</title>
  </head>
  <body>
    <h2>Create a New user</h2>
    <form method="post" action="/user">
      <textarea name="username" id="" cols="40" rows="2" placeholder="Enter your user id"></textarea>
      <input type="email" name="email" id="" placeholder="Enter your email id">
      <input
        type="password"
        name="password"
        id=""
        placeholder="Enter your current password"
      />
      <button type="submit">Add user</button>
    </form>
  </body>
</html>
